<%= link_to "Homepage", movies_path %>

<hr>

<h1> Login </h1>

<%= bootstrap_form_tag url: '/login' do %>

    Username: <%= text_field_tag :username %></br></br>

    Password: <%= password_field_tag :password %></br></br>

    <%= submit_tag "Submit" %>

<% end %>

</br></br>
<p>New user? <%= link_to "Sign up now!", new_user_path, class: 'btn btn-primary btn-sm' %></p>
