<%= link_to "Review This Movie", new_review_path %> 
<h1 id = 'title'> <%= @movie.title %>  (<%= @movie.year %>)</h1>

<p id = 'synopsis'> <%= @movie.synopsis %> </p>

<iframe class = 'iframe' width="560" height="315" src="<%= @movie.video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<div class = 'box'>
  <div class = 'review-header'>
    <h1> Reviews: </h1>
</div>
<div class='review'>
  <ul>
    <% @movie.reviews.each do |review| %>
        <li>
          <strong>
             <%= review.content %> 
          </strong> -- reviewed by
          <%= review.user.to_s %> 
          <% if @logged_in %>
          <%= link_to "Edit Review", edit_review_path(review) %>
        </li>
        <% end %>
    <% end %>
</ul>
</div>
</div>

  


