<div class = 'container'>
<% if @logged_in %>
<%= form_tag "/logout", method: :delete do %>
  <%= submit_tag "Logout" %>
  <% end %>
    <% else %>
  <%= link_to "Log in", '/login' %> </br>
<% end %>

<%= link_to "Homepage", movies_path %>

<h1> Thank you for signing up, <%= @user.to_s %>! </h1>

<h2> Now Please log in! <%= link_to "Log In", login_path %> 
</div> </h2>

