<%= link_to "Search More Current Movies", movies_path %></br>

<%= link_to "Back to Review Page", movie_path(@review.movie_id) %>

<h1> <%= @review.user %>'s Review for <%= @review.movie.title %> </h1>

<p> <%= @review.content %>! </p>


<%= link_to "Edit Review", edit_review_path %> 
<%= button_to "delete", review_path(@review), method: :delete %>